<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title><%-pagename%></title>
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <%-include('includes/nav')%>
        <div class="container">
        <h1>Sign Up</h1>
        <%if(typeof (errors) != "undefined"){%>
            <p><%-errors.message%></p>
            <% }%>
        <form action="/registration" method="post">
            <div>
            <label for="firstName" class="col-sm-2 col-form-label">Firstname</label>
            <input type="text" name="firstName">
            <%if(typeof (errors) != "undefined"){%>
                <p><%-errors.firstNameMsg%></p>
            <% }%>
            </div>
            <div >
            <label for="lastName" class="col-sm-2 col-form-label">Lastname</label>
            <input type="text"  name="lastName"  >
            <%if(typeof (errors) != "undefined"){%>
                <p><%-errors.lastNameMsg%></p>
        <% }%>
        </div>
        <div >
            <label for="address" class="col-sm-2 col-form-label">Address</label>
            <input type="text" name="address" >
            <%if(typeof (errors) != "undefined"){%>
                <p><%-errors.addressMsg%></p>
        <% }%>
        </div>
            <div >
            <label for="city" class="col-sm-2 col-form-label">City</label>
            <input type="text"  name="city" >
            <%if(typeof (errors) != "undefined"){%>
                <p><%-errors.cityMsg%></p>
        <% }%>
        </div>
            <div >
            <label for="state" class="col-sm-2 col-form-label">State Abbreviation</label>
            <input type="text"  name="state"  >
            <%if(typeof (errors) != "undefined"){%>
                <p><%-errors.stateMsg%></p>
        <% }%>
        </div>
            <div >
            <label for="zip" class="col-sm-2 col-form-label">Zip</label>
            <input type="text"  name="zip"  >
            <%if(typeof (errors) != "undefined"){%>
                    <p><%-errors.zipMsg%></p>
            <% }%>
        </div>
            <div >
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <input type="email"  name="email" >
            <%if(typeof (errors) != "undefined"){%>
                <p><%-errors.emailMsg%></p>
        <% }%>
        </div>
            <div >
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <input type="password"  name="password" >
            <%if(typeof (errors) != "undefined"){%>
                <p><%-errors.passwordMsg%></p>
        <%}%>
        </div>
            <div >
            <label for="cPassword" class="col-sm-2 col-form-label">Confirm Password</label>
            <input type="password"  name="confirmPassword" >
            <%if(typeof (errors) != "undefined"){%>
                <p><%-errors.confirmPasswordMsg%></p>
        <% }%>
        </div>
        <button type="submit" class="btn btn-dark btn-lg" >Register</button>
        </form>
       
    </div>
        <div>&nbsp;</div>
       <%-include("includes/footer")%>
       
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
       
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
